
* {
	color:black;
}

#header {
	border: 1px solid black;
}

.projects {
	margin: 0 auto;
	margin-top: 15px;
	width: 1000px;
}

.center {
	margin: 0 auto;
}

.pcenter {
	text-align: center;
}


body {
	font-family: 'Montserrat';
	font-style: Italic;
	padding:20px;
  }
  
  .header {
	text-align: center;
	padding: 20px;
	font-size:20px;
  }

  .card-title {
	font-weight:bold;
	text-align: center;
  }

  .card-text {
	text-align: justify;
  }
  
  #right-panel-link {
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
  }

  .mycolor {
	background-color: pink !important;
  }

  .mycolor2 {
	background-color: lightblue !important;
  }