
* {
	color:black;
}

#header {
	border: 1px solid black;
}

.projects {
	margin: 0 auto;
	width: 1000px;
	height: 100px;
	border: 1px solid black;
}

.center {
	margin: 0 auto;
}

.pcenter {
	text-align: center;
}

